{% extends 'layout/base.html' %}
{% block title %} Home {% endblock %}
{% block body %} 
    <div class="container mt-4">
        <div class="row">
            <div class="col d-flex justify-content-between align-items-center">
                <form class="mb-0 d-flex" action="" method="post" autocomplete="off"> 
                    <!-- Left side: Search bar and button -->
                    <input type="text" class="form-control me-2" name="query" id="query" placeholder="Search">
                    <input type="submit" value="Search" class="btn btn-primary" name="">
                </form> 
                <!-- Right side: Button -->
                <button type="button" class="btn btn-success align-right" data-bs-toggle="modal" data-bs-target="#insert_modal">Add New Customer</button>
            </div>
        </div>
    </div>
    <!-- Modal for inserting the customer -->
    <div id="insert_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Customer</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('customer_blueprint.insert_customer')}}" method="POST">
                    {{ customer_form.hidden_tag() }}
                    <div class="form-group">
                        {{ customer_form.name.label(class="form-control-label mt-1") }}
                        {{ customer_form.name(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ customer_form.contact.label(class="form-control-label mt-1") }}
                        {{ customer_form.contact(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ customer_form.address.label(class="form-control-label mt-1") }}
                        {{ customer_form.address(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ customer_form.email.label(class="form-control-label mt-1") }}
                        {{ customer_form.email(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-4" type="submit">Add Customer</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table table-success table-striped table-hover" border="1">
            <thead class="thread-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <!-- <th scope="col">Created</th>
                    <th scope="col">Updated</th> -->
                    <th scope="col">Vehicles</th>
                    <th scope="col" style="text-align: right" >Actions</th>
                </tr>
            </thead>
            <tbody id="results">
                {% for customer in customers %}
                    <tr>
                        <td class="align-middle"  scope="row">{{customer.id}}</td>
                        <td class="align-middle">{{customer.name}}</td>
                        <td class="align-middle">{{customer.contact}}</td>
                        <td class="align-middle">{{customer.address}}</td>
                        <td class="align-middle">{{customer.email}}</td>
                        <!-- <td class="align-middle">{{customer.create_dttm}}</td>
                        <td class="align-middle">{{customer.update_dttm}}</td> -->
                        <td>
                            {% for vehicle in customer.vehicles %}
                                <a href="{{ url_for('vehicle_blueprint.update_vehicle', vehicle_id=vehicle.id) }}" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#update_vehicle{{vehicle.id}}">{{vehicle.number}}</a>
                                <!-- Modal for updating a vehicle -->
                                <div id="update_vehicle{{vehicle.id}}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Update Vehicle</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{{url_for('vehicle_blueprint.update_vehicle')}}" method="POST">
                                                    {{ vehicle_form.hidden_tag() }}
                                                    <div class="form-group">
                                                        <input type="hidden" name="id" value="{{vehicle.id}}">
                                                        {{ vehicle_form.number.label(class="form-control-label mt-1") }}
                                                        {{ vehicle_form.number(class="form-control form-control-lg", value=vehicle.number) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ vehicle_form.make.label(class="form-control-label mt-1") }}
                                                        {{ vehicle_form.make(class="form-control form-control-lg", value=vehicle.make) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ vehicle_form.model.label(class="form-control-label mt-1") }}
                                                        {{ vehicle_form.model(class="form-control form-control-lg", value=vehicle.model) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ vehicle_form.year.label(class="form-control-label mt-1") }}
                                                        {{ vehicle_form.year(class="form-control form-control-lg", value=vehicle.year) }}
                                                        {{ vehicle_form.owner_id(class="form-control form-control-lg", type="hidden", value=customer.id) }}
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-warning mt-4" type="submit">Update vehicle</button>
                                                        <a href="{{ url_for('vehicle_blueprint.delete_vehicle', vehicle_id=vehicle.id) }}" class="btn btn-danger mt-4" onclick="return confirm('Are you sure to delete?')">Delete</a>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </td>
                        <td class="text-end">
                            <a href="{{ url_for('vehicle_blueprint.insert_vehicle') }}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Add Vehicle" data-bs-toggle="modal" data-bs-target="#insert_vehicle{{customer.id}}"><i class="fa fa-car"></i></a>
                            <a href="{{ url_for('customer_blueprint.update_customer', customer_id=customer.id) }}" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="top" title="Update Customer" data-bs-toggle="modal" data-bs-target="#update_customer{{customer.id}}">Edit</a>
                            <a href="{{ url_for('customer_blueprint.delete_customer', customer_id=customer.id) }}" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Customer" onclick="return confirm('Are you sure to delete?')">Delete</a>
                        </td>
                    </tr>
                
                    <!-- Model for updating customer -->
                    <div id="update_customer{{customer.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Customer</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('customer_blueprint.update_customer')}}" method="POST">
                                        {{ customer_form.hidden_tag() }}
                                        <div class="form-group">
                                            <input type="hidden"  name="id" value="{{customer.id}}">
                                            {{ customer_form.name.label(class="form-control-label mt-1") }}
                                            {{ customer_form.name(class="form-control form-control-lg", value=customer.name) }}
                                        </div>
                                        <div class="form-group">
                                            {{ customer_form.contact.label(class="form-control-label mt-1") }}
                                            {{ customer_form.contact(class="form-control form-control-lg", value=customer.contact) }}
                                        </div>
                                        <div class="form-group">
                                            {{ customer_form.address.label(class="form-control-label mt-1") }}
                                            {{ customer_form.address(class="form-control form-control-lg", value=customer.address) }}
                                        </div>
                                        <div class="form-group">
                                            {{ customer_form.email.label(class="form-control-label mt-1") }}
                                            {{ customer_form.email(class="form-control form-control-lg", value=customer.email) }}
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-warning mt-4" type="submit">Update Customer</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal for inserting a vehicle -->
                    <div id="insert_vehicle{{customer.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add a new vehicle for {{customer.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('vehicle_blueprint.insert_vehicle')}}" method="POST">
                                        {{ vehicle_form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ vehicle_form.number.label(class="form-control-label mt-1") }}
                                            {{ vehicle_form.number(class="form-control form-control-lg") }}
                                        </div>
                                        <div class="form-group">
                                            {{ vehicle_form.make.label(class="form-control-label mt-1") }}
                                            {{ vehicle_form.make(class="form-control form-control-lg") }}
                                        </div>
                                        <div class="form-group">
                                            {{ vehicle_form.model.label(class="form-control-label mt-1") }}
                                            {{ vehicle_form.model(class="form-control form-control-lg") }}
                                        </div>
                                        <div class="form-group">
                                            {{ vehicle_form.year.label(class="form-control-label mt-1") }}
                                            {{ vehicle_form.year(class="form-control form-control-lg") }}
                                            {{ vehicle_form.owner_id(class="form-control form-control-lg", type="hidden", value=customer.id) }}
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary mt-4" type="submit">Add Vehicle</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}