{% extends 'layout/base.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <form action="">
        <div class="input-group ">
          <span class="input-group-text">Item</span>
          <input class="form-control" list="ItemDatalistOptions" id="ItemDataList"
            placeholder="Type to search Item...">
          <datalist id="ItemDatalistOptions">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
          </datalist>
          <span class="input-group-text">Qty</span>
          <input type="text" class="form-control" placeholder="1" aria-label="Server">
          <button class="btn btn-primary">Add Item</button>
        </div>
      </form>
      <table class="table table-success table-striped table-hover" border="1">
        <thead class="thread-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="results">
          <tr>
            <td class="align-middle">624</td>
            <td class="align-middle">Dash cleaner</td>
            <td class="align-middle">
              <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-plus-lg"></i></a>
              3
              <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-dash-lg"></i></a>
            </td>
            <td class="align-middle">250</td>
            <td class="align-middle">750</td>
            <td class="align-middle">
              <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete supplier"
                onclick="return confirm('Are you sure to delete?')"><i class="bi bi-trash3-fill"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">624</td>
            <td class="align-middle">Dash cleaner</td>
            <td class="align-middle">
              <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-plus-lg"></i></a>
              3
              <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-dash-lg"></i></a>
            </td>
            <td class="align-middle">250</td>
            <td class="align-middle">750</td>
            <td class="align-middle">
              <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete supplier"
                onclick="return confirm('Are you sure to delete?')"><i class="bi bi-trash3-fill"></i></a>
            </td>
          </tr>
          <tr>
            <td class="align-middle">624</td>
            <td class="align-middle">Dash cleaner</td>
            <td class="align-middle">
              <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-plus-lg"></i></a>
              3
              <a href="#" class="btn btn-outline-secondary btn-sm"><i class="bi bi-dash-lg"></i></a>
            </td>
            <td class="align-middle">250</td>
            <td class="align-middle">750</td>
            <td class="align-middle">
              <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete supplier"
                onclick="return confirm('Are you sure to delete?')"><i class="bi bi-trash3-fill"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Customer</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Disabled input" disabled>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Vehical</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Current Milage</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Employee</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Wash Bay</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Next Milage</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Service Status</span>
            <select class="form-select" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Discount %</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Payment Method</span>
            <select class="form-select" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Payment Amount</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}