{% extends 'layout/base.html' %}
{% block title %} Home {% endblock %}
{% block body %} 
    <div class="container mt-4">
        <div class="row">
            <div class="col d-flex justify-content-between align-items-center">
                <form class="mb-0 d-flex" action="" method="GET" autocomplete="off">
                    <input type="text" class="form-control me-2" name="query" id="query" placeholder="{{ query if query else 'Search'}}">
                    <input type="submit" value="Search" class="btn btn-primary me-2" name="">
                    <a href="{{ url_for('invoice_head_blueprint.invoice_head') }}"><input type="submit" value="Reset" class="btn btn-secondary" ></a>
                </form> 
                <!-- Right side: Button -->
                <button type="button" class="btn btn-success align-right" data-bs-toggle="modal" data-bs-target="#insert_modal">Create Invoice</button>
            </div>
        </div>
    </div>
    <!-- Modal for inserting the invoice_head -->
    <div id="insert_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Invoice</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('invoice_head_blueprint.insert_invoice_head')}}">
                    {{ invoice_head_create_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ invoice_head_create_form.vehical.label(class="form-label mt-3",for="vehicalDataList") }}
                            {{ invoice_head_create_form.vehical(class="form-control", list="datalistOptionsVehical", id="vehicalDataList", placeholder="Search Vehical...") }}
                            <datalist id="datalistOptionsVehical">
                                {% for vehical in vehicals %}
                                    <option value="{{vehical.id}}">{{vehical.number}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="form-group">
                            {{ invoice_head_create_form.employee.label(class="form-label mt-3",for="employeeDataList") }}
                            {{ invoice_head_create_form.employee(class="form-control", list="datalistOptionsEmployee", id="employeeDataList", placeholder="Search Employee...") }}
                            <datalist id="datalistOptionsEmployee">
                                {% for employee in employees %}
                                    <option value="{{employee.id}}">{{employee.name}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="form-group">
                            {{ invoice_head_create_form.washbay.label(class="form-label mt-3",for="washbayDataList") }}
                            {{ invoice_head_create_form.washbay(class="form-control", list="datalistOptionsWashbay", id="washbayDataList", placeholder="Search WashBay...") }}
                            <datalist id="datalistOptionsWashbay">
                                {% for washbay in washbays %}
                                    <option value="{{washbay.id}}">{{washbay.name}}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="form-group">
                            {{ invoice_head_create_form.current_milage.label(class="form-control-label mt-3") }}
                            {{ invoice_head_create_form.current_milage(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ invoice_head_create_form.submit(class="btn btn-outline-info mt-3") }}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <table class="table table-success table-striped table-hover" border="1">
            <thead class="thread-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Vehical</th>
                    <th scope="col">Employee</th>
                    <th scope="col">Status</th>
                    <th scope="col">Amount</th>
                    <th scope="col" style="text-align: right" >Actions</th>
                </tr>
            </thead>
            <tbody id="results">
                {% for invoice_head in invoice_heads.items %}
                    <tr>
                        <td class="align-middle"  scope="row">{{invoice_head.id}}</td>
                        <td class="align-middle">{{invoice_head.created_dttm.date()}}</td>
                        <td class="align-middle">{{invoice_head.customer.name}}</td>
                        <td class="align-middle">{{invoice_head.vehical.number}}</td>
                        <td class="align-middle">{{invoice_head.employee.name}}</td>
                        <td class="align-middle">{{invoice_head.service_status_str}}</td>
                        <td class="align-middle">{{invoice_head.gross_price}}</td>
                        <td class="text-end">
                            <a href="{{ url_for('invoice_head_blueprint.invoice_head_detail', invoice_head_id=invoice_head.id) }}" class="btn btn-warning" ><i class="bi bi-person-fill-gear"></i></a>
                            <a href="{{ url_for('invoice_head_blueprint.delete_invoice_head', invoice_head_id=invoice_head.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure to delete?')"><i class="bi bi-person-dash-fill"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="{{ url_for('invoice_head_blueprint.invoice_head', page=invoice_heads.prev_num, query=query) }}">Previous</a></li>
                {% for page_number in invoice_heads.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_number %}
                        {% if invoice_heads.page == page_number %}
                            <li class="page-item "><a class="page-link active" href="{{ url_for('invoice_head_blueprint.invoice_head', page=page_number, query=query) }}">{{ page_number }}</a></li>
                        {% else %}
                            <li class="page-item "><a class="page-link" href="{{ url_for('invoice_head_blueprint.invoice_head', page=page_number, query=query) }}">{{ page_number }}</a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item "><a class="page-link" href="#">...</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item"><a class="page-link" href="{{ url_for('invoice_head_blueprint.invoice_head', page=invoice_heads.next_num, query=query) }}">Next</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}