{% extends 'layout/base.html' %}
{% block title %} Home {% endblock %}
{% block body %}
<div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
  <div class="row">
    <div class="col">
      <form action="{{url_for('invoice_head_blueprint.add_invoice_detail', invoice_head_id=invoice_head.id)}}" method="POST">
        <div class="input-group ">
            {{ invoice_head_update_form.hidden_tag() }}
          <span class="input-group-text">Item</span>
          {{ invoice_detail_create_form.item(class="form-control", list="ItemDatalistOptions", id="ItemDataList", placeholder="Type to search...") }}
          <datalist id="ItemDatalistOptions">
            {% for item in items %}
              <option value="{{item.id}} | {{item.name}}">
            {% endfor %}
          </datalist>
          <span class="input-group-text">Qty</span>
          {{ invoice_detail_create_form.quantity(class="form-control") }}
          <!-- <input type="text" class="form-control" placeholder="1" aria-label="Server"> -->
          {{ invoice_detail_create_form.submit(class="btn btn-primary") }}
          <!-- <button class="btn btn-primary">Add Item</button> -->
        </div>
      </form>
      <table class="table table-success table-striped table-hover" border="1">
        <thead class="thread-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id="results">
          {% for invoice_detail in invoice_details %}
          <tr>
            <td class="align-middle">{{invoice_detail.id}}</td>
            <td class="align-middle">{{invoice_detail.item.name}}</td>
            <td class="align-middle">
              <a href="{{url_for('invoice_head_blueprint.decrease_quantity_invoice_detail', invoice_detail_id=invoice_detail.id)}}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-dash-lg"></i></a>
              {{invoice_detail.quantity}}
              <a href="{{url_for('invoice_head_blueprint.increase_quantity_invoice_detail', invoice_detail_id=invoice_detail.id)}}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-plus-lg"></i></a>
            </td>
            <td class="align-middle">{{invoice_detail.item.unit_price}}</td>
            <td class="align-middle">{{invoice_detail.total_price}}</td>
            <td class="align-middle">
              <a href="{{url_for('invoice_head_blueprint.delete_invoice_detail', invoice_detail_id=invoice_detail.id)}}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete supplier"
                onclick="return confirm('Are you sure to delete?')"><i class="bi bi-trash3-fill"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
          <span>Net Price</span>
          <strong>{{ invoice_head.total_price }}</strong>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Discount</span>
          <text>- {{ invoice_head.discount_pct }} %</text>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h4>Gross Price</h4>
          <h4 class="text-success">{{ invoice_head.gross_price }}</h4>
        </li>
      </ul>
    </div>
    <div class="col">
        <form action="{{url_for('invoice_head_blueprint.invoice_head_detail', invoice_head_id=invoice_head.id)}}" method="POST">
            {{ invoice_head_update_form.hidden_tag() }}
            <div class="row">
                <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Customer</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="{{invoice_head.customer.name}}" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Vehical</span>
                    {{ invoice_head_update_form.vehical(class="form-control", list="datalistOptionsVehical", id="vehicalDataList", value=invoice_head.vehical.id|string+" | "+invoice_head.vehical.number) }}
                        <datalist id="datalistOptionsVehical">
                            {% for vehical in vehicals %}
                                <option value="{{vehical.id}} | {{vehical.number}}">
                            {% endfor %}
                        </datalist>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Current Milage</span>
                    {{ invoice_head_update_form.current_milage(class="form-control form-control", value=invoice_head.current_milage) }}
                </div>
                </div>
                <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Employee</span>
                    {{ invoice_head_update_form.employee(class="form-control", list="datalistOptionsEmployee", id="employeeDataList", value=invoice_head.employee.id|string+" | "+invoice_head.employee.name) }}
                        <datalist id="datalistOptionsEmployee">
                            {% for employee in employees %}
                                <option value="{{employee.id}} | {{employee.name}}">
                            {% endfor %}
                        </datalist>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Wash Bay</span>
                    {{ invoice_head_update_form.washbay(class="form-control", list="datalistOptionsWashBay", id="washbayDataList", value=invoice_head.washbay.id|string+" | "+invoice_head.washbay.name) }}
                        <datalist id="datalistOptionsWashBay">
                            {% for washbay in washbays %}
                                <option value="{{washbay.id}} | {{washbay.name}}">
                            {% endfor %}
                        </datalist>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Next Milage</span>
                    {{ invoice_head_update_form.next_milage(class="form-control form-control", value=invoice_head.next_milage) }}
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Service Status</span>
                    {{ invoice_head_update_form.service_status(class="form-control form-control", value=invoice_head.service_status) }}
                </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Discount %</span>
                    {{ invoice_head_update_form.discount_pct(class="form-control form-control", value=invoice_head.discount_pct) }}
                </div>
                </div>
                <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Payment Method</span>
                    {{ invoice_head_update_form.payment_method(class="form-control form-control", value=invoice_head.payment_method) }}
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Payment Amount</span>
                    {{ invoice_head_update_form.paid_amount(class="form-control form-control", value=invoice_head.paid_amount) }}
                </div>
                </div>
                <div class="col-auto">
                {{ invoice_head_update_form.submit(class="btn btn-primary mb-3") }}
                </div>
                {% if invoice_head_update_form.errors %}
                    {% for error in invoice_head_update_form.errors.items() %}
                        <small class="text-danger mt-2">{{ error }}</small><br>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}